*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
ul, ol, li {
  list-style: none;
}
body {
  height: 100vh;
  font-family: sans-serif;
  background: linear-gradient(193deg,#FF8C00,#ffae00 140%);
}
.App {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  color: #ffffff;
  margin: 40px 0 40px 0;
}
.detail-container {
  background-color: #FFF3E4;
  box-shadow: 0 6px 6px rgba(13, 6, 97, 0.089), 0 6px 6px rgba(2, 9, 71, 0.233);
  width: 470px;
  height: 350px;
  margin-bottom: 20px;
}
.detail-title {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items:center;
  align-content: center;
  flex-wrap: nowrap;
  margin-top: 20px;
  margin-bottom: 25px;
}
h3{
  font-size: 20px;
  font-weight: bolder;
}
.close-icon {
  position: relative;
  text-align: center;
  color: #FF8C00;
  left: 12%;
  font-size: 30px;
  font-weight: bolder;
}
.max-min {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}
.main-temperature {
  padding-left: 4rem;
}
.temperature-text-biggest {
  display: flex;
  flex-direction: row;
  justify-content:left;
  font-size: 45px;
  font-weight: bolder;
}
.arrow-up-icon {color: #FF8C00;}
.arrow-down-icon {color: #FF8C00;}
.search-section {
  width: 470px;
  height: 55px;
  position: relative;
  margin-bottom: 40px;
}
.input-search {
  padding: 10px;
  border: none;
  background-color: #ffffff;
  box-shadow:inset 0 0 2px 0 #888;
  text-align: left;
  height: 100%;
  width: 100%;
  font-size: 20px;
  position: relative;
}
.input-search:focus{
  outline: none;
}
.search-icon {
  position: absolute;
  text-align: center;
  color: rgba(0, 0, 0, 0.658);
  height: 100%;
  padding: 10px;
  right: 10px;
  z-index: 20;
}
.material-icons.md-36 {
  font-size: 36px;
}
.main-line {
  width: 550px;
  border-top: 1px solid #E5E4E2;
  margin-bottom: 20px;
}
/* .weather-summary {} */
.summary-cities {
  position: relative;
  color: #ffffff;
  font-size: 35px;
  /* left: 0%; */
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.table-colum {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 10px;
  margin-bottom: 30px;
}
.table-content{
  height: 100px;
}
.table-content2{
  height: 100px;
}
th {
  padding: 5px;
  text-align: center;
  font-weight: normal;
}
td {
  padding: 5px;
  text-align: left;
  font-weight: bold;
}