*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
ul, ol, li {
  list-style: none;
}
body {
  height: 100vh;
  font-family: sans-serif;
  background: linear-gradient(193deg,#FF8C00,#ffae00 140%);
}
.App {
  max-width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  color: #ffffff;
  margin: 40px 0 40px 0;
}
.detail-container {
  background-color: #FFF3E4;
  box-shadow: 0 6px 6px rgba(13, 6, 97, 0.089), 0 6px 6px rgba(2, 9, 71, 0.233);
  width: 100vw;
  height: 285px;
  margin-bottom: 20px;
  display: none;
}
.detail-title {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items:center;
  align-content: center;
  flex-wrap: nowrap;
  margin-top: 15px;
  margin-bottom: 15px;
}
h3{
  font-size: 18px;
  font-weight: bolder;
}
.close-icon {
  position: relative;
  text-align: center;
  color: #FF8C00;
  left: 12%;
  font-size: 30px;
  font-weight: bolder;
}
.main-temperature {
  padding-left: 4rem;
  margin-bottom: 15px;
}
.temperature-text-biggest {
  display: flex;
  flex-direction: row;
  justify-content:left;
  font-size: 45px;
  font-weight: bolder;
}
.max-min {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
  justify-content:left;
  padding-left: 4rem;
}
.temperature-icon {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.min {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
.max {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
.feels-like-container {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 20px;
}
.feels-like-description {
  padding-right: 3px;
  color: #A7A29A;
  font-size: 18px;
}
.feels-like-teamperature {
  color: #7E7B77;
  font-size: 17px;
  font-weight: bold;
}
.teamperature-value {
  color: #63605d;
  font-size: 17px;
  font-weight: bold;
}
.arrow-up-icon {
  color: #FF8C00;
}
.arrow-down-icon {
  color: #FF8C00;
}
.wind-humidity{
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
  justify-content:left;
  padding-left: 60px;
  margin-top: 15px;
}
.wind-description {
  color: #A7A29A;
  font-size: 18px;
  margin-left: 5px;
}
.wind-value {
  color: #7E7B77;
  font-weight: bolder;
  font-size: 18px;
}
.humidity-description {
  margin-left: 20px;
  color: #A7A29A;
  font-size: 18px;
}
.humidity-value {
  color: #7E7B77;
  font-weight: bolder;
  font-size: 18px;
}
.detail-line {
  display: flex;
  background-color: #FF8C00;
  height: 2px;
  margin-top: 15px;
  width: 100vw;
  margin-left: 20px;
}
.week-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 18;
  /* padding-top: 15px; */
  flex: 1;
}
.week-table th {
  padding: 10px ;
  text-align: center;
  font-weight: bold;
}
.week-table td {
  color:#FF8C00 ;
  text-align: center;
  font-weight: bold;
  padding-left: 15px;
}
.search-section {
  width: 470px;
  height: 55px;
  position: relative;
  margin-bottom: 15px;
}
.input-search {
  padding: 10px;
  border: none;
  background-color: #ffffff;
  box-shadow:inset 0 0 2px 0 #888;
  text-align: left;
  height: 100%;
  width: 100%;
  font-size: 20px;
  position: relative;
}
.input-search:focus{
  outline: none;
}
.search-icon {
  position: absolute;
  text-align: center;
  color: rgba(0, 0, 0, 0.658);
  height: 100%;
  padding: 10px;
  right: 10px;
  z-index: 20;
}
.material-icons.md-36 {
  font-size: 36px;
}
.main-line {
  width: calc(100% - 58%);
  border-top: 1px solid #E5E4E2;
  margin-bottom: 15px;
  margin-top: 15px;
}
.summary-cities {
  position: relative;
  color: #ffffff;
  font-size: 30px;
  margin-bottom: 10px;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.table-colum {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.table-content{
  height: 100px;
}
.table-content2{
  height: 100px;
}
th {
  padding: 5px;
  text-align: center;
  font-weight: normal;
  flex-wrap: wrap;
}
td {
  padding: 5px;
  text-align: left;
  font-weight: bold;
}
.close-icon:hover {
  cursor: pointer;
}
@media (max-width: 600px){
  .header {
    position: relative;
    display: flex;
    width:290px;
    height: 190px;
    right: 3px;
  }
  .title{
    text-align: left;
  }
.detail-line {
  margin-top: 15px;
  width: 100%;
  margin-left: 0;
}
  .search-section {
    width: calc(100% - 30px);
    height: 50px;
    position: relative;
    margin-bottom: 15px;
  }
  .input-search {
    padding: 10px;
    border: none;
    background-color: #ffffff;
    box-shadow:inset 0 0 2px 0 #888;
    text-align: left;
    height: 100%;
    width: 100%;
    font-size: 20px;
    position: absolute;
  }
  .main-line {
   width: 100vw;
    border-top: 1px solid #E5E4E2;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .summary-cities {
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
  }
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .table-colum {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    width: 100vw;
    padding-left: 25px;
  }
  .capitais-table2 thead{
    display: none;
  }
  .table-content2 {
    margin-top: 10px;
  }
  th {
    padding: 0;
    text-align: center;
    font-weight: normal;
    flex-wrap: wrap;
  }
  td {
    text-align: left;
    font-weight: bold;
  }

}